* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #2a2a2a;
    background-color: azure;
}

.products {
    background-color: rgb(130, 155, 245);
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 40px;
}

.products th,
.products td {
    padding: 8px 10px;
    border: 1px solid #2d3036;
    text-align: center;
}

.products caption {
    margin-bottom: 12px;
    font-size: 20px;
    caption-side: top;
}

.products thead,
.products tfoot {
    background-color: #98b9f2;
}

.products td:hover {
    background-color: #364fb5;
}

.products tbody tr:nth-child(odd) {
    background-color: #b5ccf5;
}

.schedule {
    border-collapse: collapse;
    width: 80%;
    background-color: #91dceb;
}

.schedule th,
.schedule td {
    padding: 8px 10px;
    border: 1px solid #2d3036;
    text-align: center;
}

.schedule caption {
    margin-bottom: 12px;
    font-size: 20px;
    caption-side: top;
}

.schedule td:hover {
    background-color: #225f6b;
}


.schedule thead {
    background-color: #46a7c2;
}

.schedule tbody {
    background-color: #4dc5dd;
}